@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nền màu xám xanh hiện đại */
body {
  background-color: #f3f4f6;
  background-image: 
    radial-gradient(at 0% 0%, rgba(59, 130, 246, 0.15) 0px, transparent 50%), 
    radial-gradient(at 100% 100%, rgba(139, 92, 246, 0.15) 0px, transparent 50%);
  background-attachment: fixed;
  color: #1e293b;
}

/* Họa tiết chấm bi cho Banner */
.bg-grid-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px);
  background-size: 20px 20px;
}